{{ ansible_managed | comment }}
[Unit]
Description=Load %I encryption keys
Before=systemd-user-sessions.service
After=zfs-import.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/zfs load-key %i

[Install]
WantedBy=zfs-mount.service
